version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
      timezone: "Europe/Istanbul"

    open-pull-requests-limit: 3

    labels:
      - "security"
      - "dependencies"

    commit-message:
      prefix: "chore(deps)"
      include: "scope"

    ignore:
      - dependency-name: "org.springframework.boot:spring-boot-starter-parent"
        update-types:
          - "version-update:semver-major"