# =========================
# Build output
# =========================
target/
build/
bin/

# =========================
# Compiled classes
# =========================
*.class

# =========================
# Packages (archives)
# =========================
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# =========================
# Logs / DB
# =========================
*.log
*.sql
*.sqlite

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
*.iml
.classpath
.project
.settings/

# =========================
# Maven
# =========================
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# keep maven wrapper
!.mvn/wrapper/

# =========================
# Generated sources
# =========================
generated-sources/
generated-classes/

# allow samples if needed
!samples/**/generated-sources/