{{! --- Generics-aware thin wrapper --- }}
{{! If x-data-container/x-data-item exist, render ServiceClientResponse<Container<Item>> }}
{{! Otherwise fall back to ServiceClientResponse<x-api-wrapper-datatype> }}

import {{commonPackage}}.ServiceClientResponse;
{{#vendorExtensions.x-data-container}}
import {{commonPackage}}.{{vendorExtensions.x-data-container}};
{{/vendorExtensions.x-data-container}}

{{#vendorExtensions.x-class-extra-annotation}}
{{{vendorExtensions.x-class-extra-annotation}}}
{{/vendorExtensions.x-class-extra-annotation}}
public class {{classname}}
    extends ServiceClientResponse<
      {{#vendorExtensions.x-data-container}}
        {{vendorExtensions.x-data-container}}<{{vendorExtensions.x-data-item}}>
      {{/vendorExtensions.x-data-container}}
      {{^vendorExtensions.x-data-container}}
        {{vendorExtensions.x-api-wrapper-datatype}}
      {{/vendorExtensions.x-data-container}}
    > {
}